header{
  min-height: 50px;
  background-color: #2c3e50;
}

.ms_jumbotron{
  background-color: #1abc9c;
}

.debug{
  border: 2px solid green;
}

.ms_avatar{
  width: 200px;
}

img{
  width: 100%;
}

.ms_container{
  width: 60%;
  margin: 1.5rem auto;
}

.about{
  background-color: #1abc9c;
}

.ms_footer-top{
  background-color: #3a546d;
  color: white;
}

.col i{
  border: 1px solid white;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
}
.ms_footer-bottom{
  background-color: #2c3e50;
  color: white;
}